# rpmlint overrides file.
# This file filters out MinGW warnings.
# See: http://fedoraproject.org/wiki/MinGW/Rpmlint

# Unconditionally remove devel-file-in-non-devel rpmlint warning.
addFilter ("^mingw64-.*devel-file-in-non-devel")

# /usr/x86_64-pc-mingw32 is permitted by MinGW packaging guidelines.
addFilter ("^mingw64-.*non-standard-dir-in-usr x86_64-pc-mingw32")

# Permit *.la files (error is a bit odd, but it's what rpmlint prints).
addFilter ("^mingw64-.*script-without-shebang.*\.la$")

# GCC and libtool create executable archive files.  It's not clear
# why, but we permit this for now.
addFilter ("^mingw64-.*spurious-executable-perm.*\.dll\.a$")

# *.dll.a files are permitted arch-independent objects.
addFilter ("^mingw64-.*arch-independent-package-contains-binary-or-object.*\.dll\.a$")
